footer { 
    /* Background */
    background-color: #221f1f;

    /* Positioning */
    margin-top: auto;
    text-align: center;

    /* Typography */
    color: #fff;
}

.footer-container {
    /* Flexbox / Grid */
    display: flex;
    justify-content: space-around;
}

.footer-container a {
    /* Box Model */
    padding: 5px;

    /* Typography */
    color: #fff;
    text-decoration: none;
}

.footer-container a:hover {
    /* Background */
    background-color: #fff;
    
    /* Typography */
    color: black;
}
